.checkout__ad {
  width: 100%;
  margin: 0 0 10px 0;
}

.checkout {
  display: flex;
  padding: 20px;
  background-color: white;
  height: max-content;
}

.checkout__title {
  margin: 0 10px 0 0;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}
